@use "../styles.scss" as s;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin: 3rem 0;
  width: 80%;
  max-width: 300px;
  background-color: s.$mediumBackground;
  border-radius: 8px;
  @media (min-width: s.$desktop) {
    padding: 40px;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-container {
      width: 70px;
      height: 70px;
      overflow: hidden;
      border-radius: 100%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    h1 {
      margin-bottom: 0;
      font-weight: 600;
    }
    .location {
      color: s.$contrast;
      font-weight: 600;
      margin-top: 7px;
    }
  }
  main {
    .description {
      text-align: center;
      text-wrap: balance;
    }
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
}
