<section class="container">
  <header>
    <div class="img-container">
      <img
        src="./profile-img.jpeg"
        alt="profile image"
        width="auto"
        height="auto"
      />
    </div>
    <h1>Gabriel Barimboim</h1>
    <p class="location">Mendoza, Argentina</p>
  </header>
  <main>
    <p class="description">"Front-end developer and cinephile"</p>
  </main>
  <footer>
    <app-link-btn tag="GitHub" link="https://github.com/Gbw699"></app-link-btn>
    <app-link-btn
      tag="Frontend Mentor"
      link="https://www.frontendmentor.io/profile/Gbw699"
    ></app-link-btn>
    <app-link-btn
      tag="LinkedIn"
      link="https://www.linkedin.com/in/gabriel-barimboim/"
    ></app-link-btn>
    <app-link-btn
      tag="Twitter"
      link="https://x.com/gaby_barimboim?t=SwSvWhnkm23xh8PCejUm6g&s=08"
    ></app-link-btn>
    <app-link-btn
      tag="Instagram"
      link="https://www.instagram.com/gaby_barimboim?igsh=eDhhcnVvbDRrdTlk"
    ></app-link-btn>
  </footer>
</section>
