@use "../styles.scss" as s;
button {
  font-family: "Inter", serif;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: s.$White;
  background-color: s.$lightBackground;
  padding: 1rem 0;
  width: 100%;
  transition: all 0.2s;
  align-self: center;
  &:hover {
    cursor: pointer;
    background-color: s.$contrast;
    color: s.$heavyBackground;
  }
  &:focus {
    cursor: pointer;
    background-color: s.$contrast;
    color: s.$heavyBackground;
  }
  &:focus-visible {
    outline: none;
  }
}
