@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&subset=latin&display=swap");

$mobile: 375px;
$desktop: 1440px;

$White: hsl(0, 0%, 100%);

// $contrast: hsl(75, 94%, 57%);
// $lightBackground: hsl(0, 0%, 20%);
// $mediumBackground: hsl(0, 0%, 12%);
// $heavyBackground: hsl(0, 0%, 8%);

$contrast: #edf4c2;
$lightBackground: #cc2b52;
$mediumBackground: #af1740;
$heavyBackground: #740938;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: $White;
  font-size: 14px;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  /*Font-weigtht values 400, 600, 700*/
  font-weight: 400;
  font-style: normal;
  background-color: $heavyBackground;
  app-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
